/* Google fonts for project */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');


/* Asterosk widlcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

/* Header Styles */
header{
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit; /* ensures default styling for link colour is not applied by browser*/
}

h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; /* ideal if there is need for the casing to be changed in future */
    letter-spacing: 2px; /* Breathing Space between letters*/
    color: #252525; /* Sets the color of the h1 element so that stands out a little bit from the other links */
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li{
    margin-bottom: 1em;
}

/* Styles for navigation bar to select current page being viewed */
.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left:0;
    background-color: #ffffff;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a; 
    display: none; /* now by default the nav bar items are hidden until the user clicks to open them*/
    top: 100%; /*tells the nav element that it should start at the bottom of its parent*/
}

/* Nav toggle */
/* We want the sibling nav element to display when the checkbox is checked */
#nav-toggle:checked~nav{ /* checked is a pseudo class that indicates when checkboxes are checked*/
    display: block;
}

#nav-toggle{
    display: none; /* dont need the checkbox itself the label achieves the same effect */
}

.nav-toggle-label{
    font-size: 2rem;
}

/* Main Styles */
main{
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer Styles*/
footer{
    background-color: orange;
}